<div class="main articles-index">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="room-edit-menu col-lg-2 mb-3 text-center text-lg-left">
        <div class="room-manager-link">部屋管理: <%= link_to(@room.user.name, show_user_path(@room.user.id)) %></div>
        <div class="edit-menu">
          <% unless @room.is_destroyed %>
            <div class="room-edit-link inline-block"><%= link_to("部屋編集", edit_room_path(@room.id)) if @room.user.id == @current_user.id %></div>
            <div class="room-destroy-link inline-block"> <%= link_to("部屋削除", destroy_room_path(@room.id), method: :post, data: {confirm: "部屋をゴミ箱に移動します。部屋のクリップも全て削除されます。"}) if @room.user.id == @current_user.id || @current_manager %></div>
            <div class="childroom-create-link inline-block"><%= link_to("小部屋を作る", new_room_path) %></div>
            <div class="article-create-link inline-block"><%= link_to("クリップ作成", new_article_path) %></div>
          <% end %>
        </div>
      </div>
      <div class="user-index col-lg-8">
        <div class="parentroom text-left">
          <% if @room.super_room_id != 0 %>
            <% if @super_room.icon.attached? %>
              <%= image_tag @super_room.thumbnail_small %>
            <% end %>
            <span class="room-name h5"><%= link_to(@super_room.name, articles_path(@super_room.id)) %> ></span><br>
          <% end %>
        </div>
        <div class="childroom">
          <% if @room.icon.attached? %>
            <%= image_tag @room.thumbnail_small %>
          <% end %>
          <span class="room-name h3"><%= @room.name %></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="index-list articles-index-list col-lg-8 offset-lg-2">
        <%= render :partial => "articles" %>
      </div>

      <div class="index-list-mini rooms-index-list col-lg-2 mt-2">
        <%= render :partial => "rooms" %>
      </div>
    </div>

  </div>
</div>

