<div class="main articles-new">
  <div class="container">
    <div class="form-heading">
      <% if @room.icon.attached? %>
        <%= image_tag @room.thumbnail_small %>
      <% end %>
      <%= link_to(@room.name, articles_path(@room.id)) %> > 
      クリップ作成
    </div>
    <div class="form articles-form">
      <div class="form-body">
        <% @article.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag(create_article_path) do %>
          <p>タイトル</p>
          <input name="title" value="<%= @title %>">
          <p>内容</p>
          <textarea name="content"><%= @content %></textarea>
          <input type="submit" value="作成">
        <% end %>
      </div>
    </div>
  </div>
</div>

