<div class="main groups-garbage">
  <div class="container">
    <ul class="nav nav-tabs"> <!-- Bootstrap 4をインストール後にタブ機能が反映される予定 -->
      <li class="nav-item">
        <a href="#tab1" class="nav-link active" data-toggle="tab">ユーザー</a>
      </li>
      <li class="nav-item">
        <a href="#tab2" class="nav-link" data-toggle="tab">部屋</a>
      </li>
      <li class="nav-item">
        <a href="#tab3" class="nav-link" data-toggle="tab">クリップ</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="tab1" class="users-index-list tab-pane active">
        <% @users.each do |user| %>
          <div class="users-index-item">
            <% if user.avatar.attached? %>
              <%= image_tag user.thumbnail_small %>
            <% end %>
            <%= link_to(user.name, show_user_path(user.id)) %>
          </div>
        <% end %>
        <%= paginate @users, :param_name => 'user_page' %>
      </div>

      <div id="tab2" class="rooms-index-list tab-pane">
        <% @rooms.each do |room| %>
          <div class="rooms-index-item">
            <% if room.icon.attached? %>
              <%= image_tag room.thumbnail_small %>
            <% end %>
            <%= link_to(room.name, articles_path(room.id)) %>
          </div>
        <% end %>
        <%= paginate @rooms, :param_name => 'room_page' %>
      </div>

      <div id="tab3" class="articles-index-list tab-pane">
        <% @articles.each do |article| %>
          <div class="articles-index-item">
            <%= link_to(article.title, show_article_path(article.room_id, article.id)) %>
            <%= article.comment_count %>トーク
            <% if article.user.is_destroyed %>
              <span class="article-nil-user" style="color:gray"><%= "ユーザー不在" %></span>
            <% else %>
              <span class="article-progress" style="color:red"><%= "進行中" if article.is_solved == false %></span>
              <span class="article-solved" style="color:green"><%= "完了" if article.is_solved == true %></span>
            <% end %>
            <%= article.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>
        <% end %>
        <%= paginate @articles, :param_name => 'article_page' %>
      </div>
    </div>

  </div>
</div>

