<div class="main groups-new">
  <div class="container">
    <div class="form-heading">新規グループ登録</div>
    <div class="form groups-form">
      <div class="form-body">
        <% @group.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_with(url: create_group_path, local: true) do |form| %>
          <div class="form-group">
            <label>グループURL<span class="small">　※[アルファベット,数字,半角ハイフン(-),半角アンダーバー(_)]のみ使用できます</span></label>
            <div class="input-group-prepend">
              <span class="input-group-text"><%= request.host_with_port+"/groups/" %></span>
              <%= form.text_field :url, value: @url, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label>グループ名</label>
            <%= form.text_field :name, value: @name, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>メールアドレス<span class="small">　※架空のアドレスでも可 (例:○○@mail)</span></label>
            <%= form.text_field :email, value: @email, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>パスワード</label>
            <%= form.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>パスワード再入力</label>
            <%= form.password_field :password_confirmation, class: "form-control" %>
          </div>
          <%= form.submit value: "新規登録" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

