<% @rooms.each do |room| %>
  <div class="index-item rooms-index-item">
    <% if room.icon.attached? %>
      <%= image_tag room.thumbnail_small %>
    <% end %>
    <%= link_to(room.name, articles_path(room.id)) %>
    <span class="index-item-text"><%= room.name %></span>
  </div>
<% end %>
<%= index_display(@rooms, "room_page") %>
<%= paginate @rooms, :param_name => 'room_page', :remote => true %>
