<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー編集</div>
    <div class="form user-edit-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_with(url: update_user_path(@current_user.id), local: true) do |form| %>
          <p>アイコン</p>
          <%= image_tag @current_user.avatar %>
          <%= form.file_field :avatar %>
          <p>名前</p>
          <%= form.text_field :name, value: @user.name %>
          <p>メールアドレス</p>
          <%= form.text_field :email, value: @user.email %>
          <p>パスワード<span> ※未入力の場合は更新されません</span></p>
          <%= form.password_field :password %>
          <%= form.submit value: "編集" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

