<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー編集</div>
    <div class="form user-edit-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_with(url: update_user_path(@current_user.id), local: true) do |form| %>
          <% if false %> <%# 画像機能見送り %>
            <div class="form-group">
              <label>アイコン<span class="small">　※ファイル形式：( jpg, jpeg, png, gif )　 サイズ制限：100KB</span></label>
              <div class="my-2">
                <% if @current_user.avatar.attached? %>
                  <%= image_tag @current_user.thumbnail_large %>
                <% end %>
              </div>
              <%= form.file_field :avatar, class: "form-control-file", accept: "image/jpg, image/jpeg, image/png, image/gif", onchange: "avatarChange(this)" %>
            </div>
          <% end %> <%# 画像機能見送り %>
          <div class="form-group">
            <label>名前</label>
            <%= form.text_field :name, value: @user.name, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>メールアドレス <span class="small">　※架空のアドレスでも可 (例:○○@mail)</span></label>
            <%= form.text_field :email, value: @user.email, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>パスワード<span class="small">　※未入力のまま「更新」をクリックした場合、パスワードは変更されません。</span></label>
            <%= form.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>パスワード再入力</label>
            <%= form.password_field :password_confirmation, class: "form-control" %>
          </div>
          <%= form.submit value: "更新" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

