<div class="main users-show">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="edit-menu user-edit-menu col-lg-2 mb-3">
        <% if @user.id == @current_user.id %>
          <div class="user-edit-link"><%= link_to("編集", edit_user_path(@current_user.id)) %></div>
        <% elsif @current_manager && @user.is_destroyed == false %>
          <div class="user-destroy-link"><%= link_to("ユーザー削除", destroy_user_path(@user.id), method: :post, data: {confirm: "#{@user.name}をゴミ箱に移動します。あなたがこのユーザーの部屋の管理者になります。"}) %></div>
        <% end %>
      </div>
      <div class="head-row-center col-lg-8">
        <div class="user-avatar">
          <%= image_tag @user.thumbnail_large %>
        </div>
        <div class="user-name h3 mt-2"><%= @user.name %></div>
        <div class="user-email h5"><%= @user.email %></div>
      </div>
    </div>

    <div class="row">
      <ul class="nav nav-tabs col-lg-8 offset-lg-2">
        <li class="nav-item">
          <a href="#tab1" class="nav-link active" data-toggle="tab">クリップ</a>
        </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link" data-toggle="tab">部屋</a>
        </li>
      </ul>

      <div class="tab-content col-lg-8 offset-lg-2">
        <div id="tab1" class="index-list articles-index-list tab-pane active">
          <%= render :partial => "show_articles" %>
        </div>
        <div id="tab2" class="index-list rooms-index-list tab-pane">
          <%= render :partial => "show_rooms" %>
        </div>
      </div>
    </div>
  </div>
</div>

