<div class="main rooms-edit">
  <div class="container">
    <div class="form-heading">
      <% if @room.icon.attached? %>
        <%= image_tag @room.thumbnail_small %>
      <% end %>
      <%= link_to(@room.name, articles_path(@room.id)) %> > 
      部屋編集
    </div>
    <div class="form room-edit-form">
      <div class="form-body">
        <% @room.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_with(url: update_room_path(@room.id), local: true) do |form| %>
          <p>アイコン<span> ※ ファイル形式:(jpg, jpeg, png, gif) サイズ制限:100KB</span></p>
          <%= image_tag @room.thumbnail_large %>
          <%= form.file_field :icon, accept: "image/jpg, image/jpeg, image/png, image/gif", onchange: "iconChange(this)" %>
          <p>名前</p>
          <%= form.text_field :name, value: @room.name %>
          <%= form.submit value: "編集" %>
        <% end %>

        <div class="room-manager-edit-link">
          <%= link_to("管理者の変更", edit_room_manager_path(@room.id)) %>
        </div>
      </div>
    </div>
  </div>
</div>

