<div class="main rooms-new">
  <div class="container">
    <div class="form-heading">
      <% if params[:room_id] != "0" %>
        <% if @super_room.icon.attached? %>
          <%= image_tag @super_room.thumbnail_small %>
        <% end %>
        <%= link_to(@super_room.name, articles_path(@super_room.id)) %> > 
      <% end %>
      部屋作成
    </div>
    <div class="form rooms-form">
      <div class="form-body">
        <% @room.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag(create_room_path) do %>
          <p>部屋名</p>
          <input name="name" value="<%= @name %>">
          <input type="submit" value="作成">
        <% end %>
      </div>
    </div>
  </div>
</div>

