<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header-title">
          <% if @current_group %>
            <%= link_to(@current_group.name, top_group_path(@current_group.url)) %>
          <% elsif params[:group_url] %>
            <%= link_to(@group.name, top_group_path) %>
          <% else %>
            <%= link_to("Project クリップトーク", top_path) %>
          <% end %>
        </div>
        <ul class="header-list">
          <% if @current_user %>
            <li>
              <% if @current_user.avatar.attached? %>
                <%= image_tag @current_user.thumbnail_small %>
              <% end %>
              <%= link_to(@current_user.name, show_user_path(@current_user.id)) %>
            </li>
            <li><%= link_to("ユーザー一覧", users_path) %></li>
            <li><%= link_to("部屋一覧", rooms_path) %></li>
            <li><%= link_to("ログアウト", logout_path, {method: :post}) %></li>
          <% elsif params[:group_url] %>
            <li><%= link_to("ユーザー登録", new_user_path) %></li>
            <li><%= link_to("ログイン", login_form_path) %></li>
          <% else %>
            <li><%= link_to("グループ登録", new_group_path) %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="footer-copy">&copy クリップトーク</div>
        <ul class="footer_link">
          <% if @current_user %>
            <li><%= link_to("ゴミ箱", garbage_group_path(@current_group.url)) %></li>
            <% unless @current_manager %>
              <li><%= link_to("管理者ログイン", manager_login_form_path(@current_group.url)) %></li>
            <% else %>
              <li><%= link_to("グループ編集", edit_group_path(@current_group.url)) %></li>
              <li><%= link_to("管理者ログアウト", manager_logout_path(@current_group.url), {method: :post}) %></li>
            <% end %>
          <% end %>
        </ul>
        <%= "user:#{session[:user_id]}" %>
        <%= "group:#{session[:group_id]}" %>
        <%= "manager:#{session[:manager_id]}" %>
      </div>
    </footer>
  </body>
</html>
