<!DOCTYPE html>
<html>
  <head>
    <title>ClipTalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <header class="navbar navbar-expand navbar-light border-bottom flex-column flex-lg-row">
        <div class="navbar-nav navbar-brand p-0 mr-lg-auto">
          <% if @current_group %>
            <%= link_to(@current_group.name, top_group_path(@current_group.url), {:class => "nav-link"}) %>
          <% elsif params[:group_url] %>
            <%= link_to(@group.name, top_group_path, {:class => "nav-link"}) %>
          <% else %>
            <%= link_to("Clip Talk", top_path, {:class => "nav-link font-weight-bold"}) %>
          <% end %>
        </div>
        <ul class="navbar-nav p-0 mt-1 mt-lg-0">
          <% if @current_user %>
            <li class="nav-item user-name">
              <% if @current_user.avatar.attached? %>
                <%= image_tag @current_user.thumbnail_small, {:class => "float-left"} %>
              <% end %>
              <%= link_to(@current_user.name, show_user_path(@current_user.id), {:class => "nav-link float-right"}) %>
            </li>
            <li class="nav-item"><%= link_to("ユーザー", users_path, {:class => "nav-link"}) %></li>
            <li class="nav-item"><%= link_to("部屋", rooms_path, {:class => "nav-link"}) %></li>
            <li class="nav-item"><%= link_to("ログアウト", logout_path, {method: :post, :class => "nav-link"}) %></li>
          <% elsif params[:group_url] %>
            <li class="nav-item"><%= link_to("ユーザー登録", new_user_path, {:class => "nav-link"}) %></li>
            <li class="nav-item"><%= link_to("ログイン", login_form_path, {:class => "nav-link"}) %></li>
          <% else %>
            <li class="nav-item"><%= link_to("グループ登録", new_group_path, {:class => "nav-link"}) %></li>
          <% end %>
        </ul>
      </header>

      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-warning">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <main class="my-4">
        <%= yield %>
      </main>

      <footer class="container-fluid bg-secondary mt-auto mx-0 border-top">
        <div class="row align-items-center">
          <div class="col-12 col-lg-10 footer-left text-center text-white pr-0 order-2 order-lg-1">&copy 2019 Clip Talk</div>
          <nav class="col-12 col-lg-2 navbar navbar-expand navbar-dark text-center text-lg-left p-0 order-1 order-lg-2">
            <ul class="navbar-nav flex-column mx-auto mb-lg-0 pl-lg-3">
              <% if @current_user %>
                <li class="nav-item"><%= link_to("ゴミ箱", garbage_group_path(@current_group.url), {:class => "nav-link"}) %></li>
                <% unless @current_manager %>
                  <li class="nav-item"><%= link_to("管理者ログイン", manager_login_form_path(@current_group.url), {:class => "nav-link"}) %></li>
                <% else %>
                  <li class="nav-item"><%= link_to("グループ編集", edit_group_path(@current_group.url), {:class => "nav-link"}) %></li>
                  <li class="nav-item"><%= link_to("管理者ログアウト", manager_logout_path(@current_group.url), {method: :post, :class => "nav-link"}) %></li>
                <% end %>
              <% end %>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>
